POSTGRES_URL=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
JWT_SECRET=
REDIS_URL=
REDIS_PASSWORD=
REDIS_USERNAME=
REDIS_PORT=
RABBITMQ_HOST=
RABBITMQ_PASSWORD=
RABBITMQ_USERNAME=
RABBITMQ_VHOST=
SMPT_PORT=
SMPT_HOST=
SMPT_USERNAME=
SMPT_PASSWORD=
EMAIL_FROM=
EMAIL_URL=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
FIREBASE_CREDENTIALS=
ALLOWED_ORIGIN=